<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>ADD FRIENDS</title>
<style>
    .container{
        width: 306px;
        margin-top: 65px
    }
</style>
</head>
<body>
{% include "index.html" %}
<div class="container">
<form  action="/savefrnds/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="NAME" required>
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" name="cno" placeholder="ENTER 10 CONTACT NUMBER ">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
    <span  style="margin-right: 25px;"class="alert alert-success">{{ mes }}</span>
</form>
</div>
</body>
</html>
